{% extends 'home.html' %}
{% load static %}
{% block content %}
    <div class="col-md-7">
        <!-- Profile update form -->
        <div class="card my-3 shadow no-b r-0">
            <div class="card-header white">
                <h6>
                    Update Profile
                </h6>
            </div>
            <div class="card-body">

                <form class="form-material" method="post"> {% csrf_token %}
                    <div class="form-line">
                        {% for field in form %}
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <label class="form-label">{{ field.label }}</label>
                                    {{ field }}
                                </div>

                                {% for error in field.errors %}
                                    <label class="error">{{ error }}</label>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        <button class="btn btn-primary" type="submit">Update Profile</button>
                    </div>

                </form>
            </div>
        </div>
        <!-- #END# Profile update form -->
    </div>
{% endblock %}